@page "/ciclos"
@rendermode InteractiveServer

<h3>Ciclos</h3>

<div class="container">
        <input id="txtEdad" type="number" @bind="_valorCiclo" />

    <button class="btn btn-primary" @onclick="Empezar">Empezar</button>
    <button class="btn btn-primary" @onclick="Guardar">Guardar</button>
    <button class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
    <button class="btn btn-primary" @onclick="Existe">Existe</button>
    <button class="btn btn-danger" @onclick="Limpiar">Limpiar</button>
    <button class="btn btn-danger" @onclick="EncontradoEn">Encontrado en</button>
</div>

    @* <ul>
        @while(_indice < _valorCiclo)
        {
           <li>Valor del ciclo: @_indice</li>
            _indice++;
        }
    </ul> *@

    <hr/>

    calificaciones guardadas: @_calificaiones.Count() <br /> 
@if(_calificaiones.Count >0)
{

    <ul class="mt-3">

        @foreach(var calificacion in _calificaiones)
        {
            <li>@calificacion</li>
        }
    </ul>
    <ul class="mt-3">
        @* @for(var indice = 0; indice<_calificaiones.Count; indice++)
        {
            <li>@_calificaiones[indice]</li>
        } *@

        @foreach(var calificacion in _calificaiones.OrderBy(va=> va))
        {
            <li>@calificacion</li>
        }
    </ul>
    
<ul class="mt-3">

        @foreach (var calificacion in _calificaiones.Select(n => n * 1.5)) 
        {
        <li>@calificacion</li>
    }
</ul>
<ul class="mt-3">

        @foreach (var calificacion in _calificaiones.Skip(2).Take(2)) 
        {
        <li>@calificacion</li>
    }
</ul>
}
<hr />

@_mostrar

    @((MarkupString)letrero /*Renderiza lo que contenga la cadena*/) 
@code {
    private int _valorCiclo, _indice, _edad;
    private bool _mostrar = false;
    private string letrero = "" ;
    private List<int> _calificaiones = new(); // Guardame memoria para esta lista :>

    private void Empezar()
    {
        _indice = 0;
        letrero = "<ul class='mt-3'>";

        while(_indice < _valorCiclo)
        {
            letrero += $"<li>Valor del ciclo: {_indice}</li>";
            _indice++;

        }
        letrero += "</ul>";


        // do
        // {
        //     letrero += $"<li>Valor del ciclo: {_indice}</li>";
        //     _indice++;

        // } while (_indice < _valorCiclo);
        // letrero += "</ul>";

        // for(var indice = 0; indice < _valorCiclo; indice++)
        // {
        //     letrero += $"<li>Valor del ciclo: {indice}</li>";
        // };
        // letrero += "</ul>";

    }
    public void Guardar()
    {
        _calificaiones.Add(_valorCiclo);
    }
    public void Eliminar()
    {
        _calificaiones.Remove(_valorCiclo);
    }
    public void Existe()
    {
        _mostrar = _calificaiones.Contains(_valorCiclo);
    }
    public void Limpiar()
    {
        _calificaiones.Clear();
    }
    public void EncontradoEn()
    {
        letrero = (_calificaiones.IndexOf(_valorCiclo)).ToString();
    }
    public void Insertar()
    {
        _calificaiones.Insert(0, _valorCiclo);
    }

}
